<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.modular.system.dao.CusFollowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.boot.modular.system.model.CusFollow">
        <id column="id" property="id" />
        <result column="customerid" property="customerid" />
        <result column="followdate" property="followdate" />
        <result column="userid" property="userid" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customerid, followdate, userid, remark
    </sql>

    <select id="selectMyCusFollow" resultType="map">
        select
        c.*
        from cus_customer c
        where  c.customerstatus in (1,2)
        <if test="customername != null and customername !=''">
            and c.customername like CONCAT('%',#{customername},'%')
        </if>
        <if test="mobile != null and mobile !=''">
            and c.mobile like CONCAT('%',#{mobile},'%')
        </if>
        <if test="idcard != null and idcard !=''">
            and c.idcard like CONCAT('%',#{idcard},'%')
        </if>
        <if test="customertype != null and customertype != 0">
            and c.customertype = #{customertype}
        </if>
        <if test="customerstatus != null and customerstatus != 0">
            and c.customerstatus = #{customerstatus}
        </if>
        <if test="datasources != null and datasources != 0">
            and c.datasources = #{datasources}
        </if>
        <if test="importremark != null and importremark !=''">
            and c.importremark = #{importremark}
        </if>
        <if test="userid != null and userid != ''">
            and c.followuserid=#{userid}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and c.followdate &gt;=CONCAT(#{beginTime},' 00:00:00')
        </if>
        <if test="endTime != null and endTime != ''">
            and c.followdate &lt;=CONCAT(#{endTime},' 23:59:59')
        </if>
        and c.id not in (select customerid from cus_success where successuserid=#{userid} and status=1)
        order by c.followdate desc
    </select>

    <select id="selectListByCustomerId" resultType="com.boot.modular.system.model.CusFollow">
        select f.*,u.true_name username
        from cus_follow f, sys_user u
        where u.id=f.userid
        and f.customerid = #{customerid}
    </select>

    <select id="selectCusFollow" resultType="map">
        select
        c.*,u.true_name
        from cus_customer c,sys_user u
        where  c.followuserid=u.id and c.customerstatus in (1,2) and c.followuserid >0
        <if test="customername != null and customername !=''">
            and c.customername like CONCAT('%',#{customername},'%')
        </if>
        <if test="mobile != null and mobile !=''">
            and c.mobile like CONCAT('%',#{mobile},'%')
        </if>
        <if test="idcard != null and idcard !=''">
            and c.idcard like CONCAT('%',#{idcard},'%')
        </if>
        <if test="customertype != null and customertype != 0">
            and c.customertype = #{customertype}
        </if>
        <if test="customerstatus != null and customerstatus != 0">
            and c.customerstatus = #{customerstatus}
        </if>
        <if test="datasources != null and datasources != 0">
            and c.datasources = #{datasources}
        </if>
        <if test="importremark != null and importremark !=''">
            and c.importremark = #{importremark}
        </if>
        <if test="followuserid != null and followuserid != ''">
            and c.followuserid=#{followuserid}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and c.followdate &gt;=CONCAT(#{beginTime},' 00:00:00')
        </if>
        <if test="endTime != null and endTime != ''">
            and c.followdate &lt;=CONCAT(#{endTime},' 23:59:59')
        </if>
        order by c.followdate desc
    </select>

</mapper>
