<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.modular.system.dao.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.boot.modular.system.model.Customer">
        <id column="id" property="id" />
        <result column="customername" property="customername" />
        <result column="mobile" property="mobile" />
        <result column="idcard" property="idcard" />
        <result column="houseinfo" property="houseinfo" />
        <result column="carinfo" property="carinfo" />
        <result column="sbgjj" property="sbgjj" />
        <result column="insurance" property="insurance" />
        <result column="businesslicense" property="businesslicense" />
        <result column="carid" property="carid" />
        <result column="cartype" property="cartype" />
        <result column="otherinfo" property="otherinfo" />
        <result column="customertype" property="customertype" />
        <result column="customerstatus" property="customerstatus" />
        <result column="createdate" property="createdate" />
        <result column="createuserid" property="createuserid" />
        <result column="datasources" property="datasources" />
        <result column="importnumber" property="importnumber" />
        <result column="importremark" property="importremark" />
        <result column="followuserid" property="followuserid" />
        <result column="followdate" property="followdate" />
        <result column="successuserid" property="successuserid" />
        <result column="successdate" property="successdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customername, mobile, idcard, houseinfo, carinfo, sbgjj, insurance, businesslicense, carid, cartype, otherinfo, customertype, customerstatus, createdate,
        createuserid, datasources, importnumber, importremark, followuserid, followdate, successuserid, successdate
    </sql>

    <select id="selectCustomer" resultType="map">
        select
        c.*
        <!-- 销售经理客户资源库 -->
        <if test="iscustomermanager != null and iscustomermanager == 1">
            ,(select count(1) from cus_follow where userid=#{userid} and customerid=c.id) flowcount
        </if>
        <!-- 管理层客户资源库 -->
        <if test="iscustomermanager != null and iscustomermanager != 1">
            ,(select count(1) from cus_follow where customerid=c.id) flowcount
        </if>
        from cus_customer c
        <!-- 查询跟进人 -->
        <if test="iscustomermanager != null and iscustomermanager == 3">
            <if test="userid != null and userid != 0">
                , cus_follow f
            </if>
        </if>
        where 1=1
        <!-- 查询跟进人 -->
        <if test="iscustomermanager != null and iscustomermanager == 3">
            <if test="userid != null and userid != 0">
                and c.id=f.customerid and f.userid =#{userid}
            </if>
        </if>
        <if test="customername != null and customername !=''">
            and c.customername like CONCAT('%',#{customername},'%')
        </if>
        <if test="mobile != null and mobile !=''">
            and c.mobile like CONCAT('%',#{mobile},'%')
        </if>
        <if test="idcard != null and idcard !=''">
            and c.idcard like CONCAT('%',#{idcard},'%')
        </if>
        <if test="customertype != null and customertype != 0">
            and c.customertype = #{customertype}
        </if>
        <!-- 销售经理客户资源库 -->
        <if test="iscustomermanager != null and iscustomermanager == 1">
            and c.customerstatus in (1,2)
        </if>
        <if test="customerstatus != null and customerstatus != 0">
            and c.customerstatus = #{customerstatus}
        </if>
        <if test="datasources != null and datasources != 0">
            and c.datasources = #{datasources}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and c.createdate &gt;=CONCAT(#{beginTime},' 00:00:00')
        </if>
        <if test="endTime != null and endTime != ''">
            and c.createdate &lt;=CONCAT(#{endTime},' 23:59:59')
        </if>
        <if test="importremark != null and importremark !=''">
            and c.importremark like CONCAT('%',#{importremark},'%')
        </if>
        <!-- 公司管理层客户资源 -->
        <if test="iscustomermanager != null and iscustomermanager == 0">
            <if test="userid != null and userid != 0">

            </if>
            <if test="customerstatus != null and customerstatus == 0">
                and c.customerstatus in (1,2,3)
            </if>
        </if>
        <!-- 查询客户跟进 -->
        <if test="iscustomermanager != null and iscustomermanager == 3">
            <if test="customerstatus != null and customerstatus == 0">
                and c.customerstatus in (1,2)
            </if>
            and (select count(1) from cus_follow where customerid=c.id)>0
        </if>
        order by c.createdate desc
    </select>

    <update id="deleteCustomer">
		update cus_customer set customerstatus = 4 where 1=1
        <if test="customerIdList != null and customerIdList.size() > 0 ">
            and id in
            <foreach collection="customerIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
	</update>

    <select id="selectCustomerManager" resultType="map">
        select
        c.*
        from cus_customer c
        where 1=1
        and c.customerstatus =1
        <if test="customername != null and customername !=''">
            and c.customername like CONCAT('%',#{customername},'%')
        </if>
        <if test="mobile != null and mobile !=''">
            and c.mobile like CONCAT('%',#{mobile},'%')
        </if>
        <if test="idcard != null and idcard !=''">
            and c.idcard like CONCAT('%',#{idcard},'%')
        </if>
        <if test="customertype != null and customertype != 0">
            and c.customertype = #{customertype}
        </if>
        <if test="customerstatus != null and customerstatus != 0">
            and c.customerstatus = #{customerstatus}
        </if>
        <if test="datasources != null and datasources != 0">
            and c.datasources = #{datasources}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and c.createdate &gt;=CONCAT(#{beginTime},' 00:00:00')
        </if>
        <if test="endTime != null and endTime != ''">
            and c.createdate &lt;=CONCAT(#{endTime},' 23:59:59')
        </if>
        <if test="importremark != null and importremark !=''">
            and c.importremark like CONCAT('%',#{importremark},'%')
        </if>

        order by c.createdate desc
    </select>

    <select id="selectCustomerById" resultType="com.boot.modular.system.model.Customer">
        select
        <include refid="Base_Column_List"></include>
        from cus_customer
        where id =#{id}
        for update
    </select>

</mapper>
