@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>成交客户审核</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#NameCon id="customername" name="客户姓名" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="mobile" name="电话" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="idcard" name="身份证" />
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="customertype" name="客户类型">
                                    <option value="0">全部</option>
                                    <option value="1">车辆抵押客户</option>
                                    <option value="2">房产抵押客户</option>
                                    <option value="3">其他</option>
                                </#SelectCon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <#TimeCon id="beginTime" name="开始时间" isTime="false" pattern="YYYY-MM-DD" />
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="endTime" name="结束时间" isTime="false" pattern="YYYY-MM-DD" />
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
                                            导入备注
                                        </button>
                                    </div>
                                    <select class="chosen-select" id="importremark" name="importremark" style="width: 120px;border-color: #F5F5F5">
                                    </select>
                                </div>
                            </div>
<!--                            <div class="col-sm-2">-->
<!--                                <#NameCon id="importremark" name="导入备注" />-->
<!--                            </div>-->
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
                                            成交人
                                        </button>
                                    </div>
                                    <select class="chosen-select" id="successuserid" style="width: 120px;border-color: #F5F5F5">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="SuccessCheck.search()"/>
                            </div>
                        </div>
                        <#table id="successCheckTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/customer/cussuccess/cussuccess_check.js"></script>
<script>
    var beginTime = laydate.render({
        elem: '#beginTime'
        ,done: function(value, date, endDate) { //给结束时间设置最小值
            endTime.config.min = {
                year: date.year,
                month: date.month - 1,//重点！！！
                date: date.date
            }
            var stime = new Date(Date.parse(value));
            var etime = new Date(Date.parse($("#endTime").val()));
            if (etime !=null && stime > etime) { //开始时间若大于结束时间，则把结束时间数据清空
                $("#endTime").val("");
            }
        }
    });
    var endTime = laydate.render({
        elem: '#endTime'
        ,done: function(value, date, endDate) { //给结束时间设置最小值
        }
    });
</script>
@}
