@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="successApplyInfoForm">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <input type="hidden" id="customerid" value="${customerId!}">
                    <#input id="bank" name="贷款银行" underline="true"/>
                    <#input id="amount" name="贷款金额(元)" underline="true"/>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <textarea rows="10" cols="50" id="remark"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="successApplyInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="successApplyInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/customer/cussuccess/cussuccess_apply.js"></script>
@}
